<template>
  
 <section>
    <button class="button is-primary is-medium"
        @click="isComponentModalActive = true">
        Start the survey
    </button>

    <b-modal :active.sync="isComponentModalActive" has-modal-card>
        <form action="/form/">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Start Survey</p>
                </header>
                <section class="modal-card-body">


                    <b-checkbox
                        v-model="consentToSurvey"
                    >
                    I consent to the information on Consent Form</b-checkbox>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="$parent.close()">Close</button>
                    <button v-if="consentToSurvey" class="button is-primary" href="/form" >Start</button>
                </footer>
            </div>
        </form>
    </b-modal>
</section>


</template>



<script>

    export default {
      name:'SurveyModal',
      props: [''],
      // components: {
      // },
      methods: {
            reverseMessage: function () {
            return this.message.split('').reverse().join('')
        }
      },
      data() {
        return {
         goToTypeform () {
            // go to the typeform site
            alert('Clicked, now going to the form')
            this.$router.push('Form')
          },
          consentToSurvey: false,
          isComponentModalActive: false,
          formProps: {
            email: 'evan@you.com',
            password: 'testing'
          }
        }
      }
    }
</script>