<template>
  
<article class="athelas pb4">
  <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(http://mrmrs.github.io/photos/u/013.jpg) no-repeat center;">
    <div class="dtc v-mid">
      <h1 class="f1 f-headline-l fw1 i white-60">The Survey</h1>
      <blockquote class="ph0 mh0 measure f4 lh-copy center">
        <p class="fw1 white-70">
          Caregiving to us at Caregivers Connect, is the quintessential value that drives what we do.
        </p>
      </blockquote>
      <div class="typeform-button">
        <TypeformButton />
      </div>
    </div>
  </div>
  
  <!-- <SurveyConsent /> -->

  <!-- <SurveyForm /> -->

  <!-- <SurveyModal /> -->

</article>


</template>

<script>
import SurveyConsent from './SurveyConsent'
import SurveyModal from './SurveyModal'
import TypeformButton from '../Form/TypeformButton'

export default {
  name: 'Survey',
  components: {
    SurveyConsent,
    SurveyModal,
    TypeformButton
  },
  props: {
    header: String,
    subheader: String,
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.typeform-button {
  margin-top: 1rem;
}
</style>
