<template>

  <section class="welcome">
    <section class="hero is-light is-large">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body welcome-image">
        <div class="container has-text-centered">
      <h2 class="mt2 mb0 f6 fw4 ttu tracked white">Click below to go to the forum</h2>
          <h1 class="f-5 white">
            Thank you
          </h1>
          <!-- Hello Sign, to enter our site home -->
          <router-link class="button is-medium" to="/forum"  >Go to the forum</router-link>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
      </div>
    </section>

  </section>

</template>

<script>



export default {
  name: 'Finished',
  components: {
  },
  props: {
    title: String,
    signUrl: String,
  },
  data: function () {
    return {
      isEntry: true,
      isImageModalActive: false,
      helloSignLink: 'https://app.hellosign.com/s/808199ec'
    }
  },
  methods: {
    onButtonClick: function() {
      // wait 10s, then push home (assuming reader signed survey)
      this.$router.push('/home')
    },
  },
  mounted: function() {
    // return console.log('hellosign api call');
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.welcome-image {
  background: url(https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-0.3.5…EyMDd9&s=6419c61…&auto=format&fit=crop&w=2468&q=80);
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
