<template>
<nav class="navbar is-primary ubuntu">
  <div class="navbar-brand">
    <router-link v-if="isRoute === 'entry'" class="navbar-item b" to="/">
      Caregiver<br>Connect 
    </router-link>
    <!-- <router-link v-else-if="isRoute === 'forum'" class="navbar-item b" to="/home">
      Caregiver<br>Connect 
    </router-link> -->
    <router-link v-else class="navbar-item b" to="/home">
      Caregiver<br>Connect 
    </router-link>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div  id="navbarExampleTransparentExample" class="navbar-menu">
    <div v-show="isEntryPage" class="navbar-start">
      <router-link class="navbar-item" to="/about">
        About
      </router-link>
      <router-link class="navbar-item" to="/resources">
        Resources
      </router-link>
      <router-link class="navbar-item" to="/survey">
        Survey
      </router-link>
      <router-link class="navbar-item" to="/contact">
        Contact
      </router-link>
      <router-link v-if="isRoute === 'forum'" class="navbar-item" to="/forum">
        Forum
      </router-link>
      <router-link v-else class="navbar-item" >
        
      </router-link>
    </div>

    <div v-show="isEntryPage" class=" navbar-end">
      <div  class=" navbar-item">
        <div class="field is-grouped">
          <p class="dn control">
            <a class=" bd-tw-button button"  data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="/register">
              <!-- <span class="icon">
                <i class="fab fa-twitter"></i>
              </span> -->
              <span>
                Register
              </span>
            </a>
          </p>
          <p class="dn control">
            <a class=" button is-success" href="/login">
              <!-- <span class="icon">
                <i class="fas fa-download"></i>
              </span> -->
              <span>Log In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    title: String,
  },
  data: function() {
    return {
      
    }
  },
  computed: {
    isRoute: function () {
      // check if this is the entry route
      if (this.$route.path == "/") {
        // if so,  link to the entry page
        return 'entry'
      } else if (this.$route.path == "/finished" || this.$route.path == "/forum") {

        // check if cookie is set
        if ( Cookies.get('survey') == null ) {
          // if not, set the cookie
          Cookies.set('survey', 'isDone', { expires: 21 });
          return 'forum'
          
        } else {
          return 'forum'
        }
        
      } else if ( Cookies.get('survey') == 'isDone' ) {  

        return 'forum'

      } else {
        // show those extra link
        return false
      }
    },

    isEntryPage: function () {
      // check if this is the entry route
      if (this.$route.path == "/") {
        // if so, dont show the extra features
        return false
      } else {
        return true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
