<template>

  <section class="welcome">
    <section class="hero is-light is-large">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body welcome-image">
        <div class="container has-text-centered">
      <h2 class="mt2 mb0 f6 fw4 ttu tracked white">Welcome to</h2>
          <h1 class="f-5 white">
            Caregiver Connect
          </h1>
          <!-- Hello Sign, to enter our site home -->
          <a class="button is-medium" :href="`${helloSignLink}`" v-on:click="onButtonClick"  target="_blank">Enter the site</a>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
      </div>
    </section>

  </section>

</template>

<script>
// libs
import Hero from './Home/Hero.vue'


// HelloSign (clients)
// const API_KEY = "892ed24f285917031a1be78a33f7230cd4160c6fc414e5878fb8766723d81307";
// const CLIENT_ID = "b1b19ebccb24fe419e7afb0d56617b70";
// const TEMPLATE_ID = 'dda4f9b36a2ee5076aa18568972f4c75b9ab610f';

// var hellosign = require('hellosign-sdk')({key: API_KEY});
// var options = {
//    test_mode : 1,
//    clientId : CLIENT_ID,
//    template_id : TEMPLATE_ID,
//    subject : 'Embedded signature request',
//     message : 'Fill this in.',
//     signers : [
//         {
//             email_address : 'jack@example.com',
//             name : 'Jack',
//             role : 'subject'
//         }
//     ],
//     custom_fields : {
//         organization_name : 'ACME Co.',
//         shoot_type : 'Hand model',
//         location :'Cozumel, Mexico'
//     }
// };

// const hellosign = window.HelloSign;
// hellosign.init(CLIENT_ID);





export default {
  name: 'Welcome',
  components: {
    Hero,
  },
  props: {
    title: String,
    signUrl: String,
  },
  data: function () {
    return {
      isEntry: true,
      isImageModalActive: false,
      helloSignLink: 'https://app.hellosign.com/s/808199ec'
    }
  },
  methods: {
    onButtonClick: function() {
      // wait 10s, then push home (assuming reader signed survey)
      this.$router.push('/home')
    },
  },
  mounted: function() {
    // return console.log('hellosign api call');
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.welcome-image {
  background: url(https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-0.3.5…EyMDd9&s=6419c61…&auto=format&fit=crop&w=2468&q=80);
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
