<template>
<section>
  
  <article class="pa3 pa5-ns tc">
  <h1 class="f3 f1-m f-headline-l mb4">About Us</h1>
  <p class="measure lh-copy center mb2">
    Welcome to CaregiverConnectCenter. 
  </p>
  <p class="measure lh-copy center">
    On this website we provide many different ways for you to connect and engage with other caregivers from all over the world. 
Take a look at what we can offer!
  </p>
  <p class="measure lh-copy center">

Want to know more about special education for a child or an adult? Want to know more about advocacy organizations helping individuals with developmental disabilities? Or maybe you’re looking for a book recommendation on parenting a child with special needs? Then you should check out our thorough and detailed collection of informational and educational resources! 

  </p>
  <p class="measure lh-copy center">
Have a question about your child’s Individualized Education Program (IEP)? Want to share an inspiring story about you and your child? Maybe you just need to blow off some steam and talk about the challenges you may face while caring for your child. Then you should check out our interactive forum and talk to other caregivers like you!
  
  </p>
  <p class="measure lh-copy center">

Don’t know what Respite Care is? Want to know more about Respite Care? Want to learn how to make your own Respite Care? Then you should check out our Respite Care Handbooks that are written for English language speakers and Spanish language speakers! 
We hope that CaregiverConnectCenter is your all-in-one, one-stop-shop website where you’re able to learn, engage and connect. 
  </p>
  <p class="dn measure lh-copy center">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
</article>

</section>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>

