<template>
<section class="hero is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="f-5 white">
        {{header}}
      </h1>
      <h2 class="f4 white">
        {{subheader}}
      </h2>
      <!-- Button to survey site -->
      <router-link class="mt4 button is-medium" to="/survey">Take Our Survey</router-link>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <section class="ph3 ph5-ns pv5">
      <article class="mw8 center br2 ba b--light-blue bg-lightest-blue">
        <div class="dt-ns dt--fixed-ns w-100">
          <div class="pa3 pa4-ns dtc-ns v-mid">
            <div>
              <h2 class="fw4 blue mt0 mb3">See some of our great resources </h2>
              <p class="black-70 measure lh-copy mv0">
                Our resources center has a variety of information to expand your understanding.
              </p>
            </div>
          </div>
          <div class="pa3 pa4-ns dtc-ns v-mid">
            <a href="#" class="no-underline f6 tc db w-100 pv3 bg-blue white br2">See resources</a>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
</template>

<script>
export default {
  name: 'Hero',
  props: {
    header: String,
    subheader: String,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hero {
  background: url('https://images.unsplash.com/photo-1515066458641-f085b58be72f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1dc356c995c713385ecff5b9b0250f33&auto=format&fit=crop&w=1050&q=80');
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
