<template>

  <section class="home">
    <Hero
      header="Caregiver Connect Center"
      subheader="Welcome to Caregiver Connect Center. We provide many different ways for you to connect and engage with other caregivers from all over the world. "
    />
    <InfoSection />
    <MoreInfo />
  </section>

</template>

<script>
import Hero from './Hero.vue'
import InfoSection from './InfoSection.vue'
import MoreInfo from './MoreInfo.vue'

export default {
  name: 'Home',
  components: {
    Hero,
    InfoSection,
    MoreInfo
  },
  props: {
    title: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
