<template>

<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Take a look at what we can offer!
      </h1>
      <h2 class="dn subtitle">
        Primary bold subtitle
      </h2>
    </div>
  </div>
</section>

</template>

<script>
export default {
  name: 'InfoSection',
  props: {
    title: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
