<template>
<section class="more-info mt4 mb4">
  <div class="columns">
  <div class="column ml4">
    <!-- <figure class="image is-5by3">
      <img src="https://bulma.io/images/placeholders/800x480.png">
    </figure> -->
      <h4 >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h4>
  </div>
  <div class="column mr4">
    <!-- <figure class="image is-5by3">
      <img src="https://bulma.io/images/placeholders/800x480.png">
    </figure> -->
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h4>
  </div>
</div>
</section>
</template>

<script>
export default {
  name: 'MoreInfo',
  props: {

  }
}
</script>

<style scoped>

</style>
