<template>
  <div id="app" >
    <Navbar class="purple"/>
    <router-view></router-view>
    <Footer email="danielfenton89@gmail.com"/>
  </div>
</template>

<script>

import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Navbar,
    Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.purple {
  background-color: #C384C5;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
</style>
