<template>
<section class="resources-list mb4">

  <main class="mw6 center">
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/2.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Young Gatchell </h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@yg</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/3.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Arnoldo Degraff</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@99xx88randomhandle</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/4.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Deirdre Lachance</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@favfavfav</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/5.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Frederic Starner</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@hungryhippofanatic</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/6.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Cleveland Ridout</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@purethinking</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/7.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Leticia Fearon</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@retrofeels</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/10.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Ahmad Backer</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@ahmadBB</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
      <div class="dtc w2 w3-ns v-mid">
        <img src="http://mrmrs.github.io/photos/p/11.jpg" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">Carlie Noakes</h1>
        <h2 class="f6 fw4 mt0 mb0 black-60">@carnoakes99</h2>
      </div>
      <div class="dtc v-mid">
        <form class="w-100 tr">
          <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+ Download</button>
        </form>
      </div>
    </article>
  </main>
</section>
</template>

<script>
export default {
  name: 'ResourcesList'
}
</script>

<style scoped>

</style>

