<template>
  <section class="resource-item mw6 center w-50 justify-center">
    <b-collapse class="card" :open.sync="isCardOpen">
            <div slot="trigger" slot-scope="props" class="card-header tc justify-center">
                <p class="card-header-title justify-center">
                    {{title}}
                </p>
                <a class="card-header-icon">
                    <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                    </b-icon>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    {{description}}
                </div>
            </div>

            <footer v-if="url" class="card-footer">
                <a class="card-footer-item" :href="`${url}`">Link to Website</a>
            </footer>
        </b-collapse>
  </section>
</template>

<script>
export default {
  name: 'ResourcesItem',
  props: {
    title: String,
    description: String,
    url: String,
  },
  data: function() {
    return {
      isCardOpen: false
    }
  }
}
</script>

