<template>
<section class="resources mb4">
  
  <article class="pa3 pa5-ns tc">
    <h1 class="f3 f1-m f-headline mb4">Forum</h1>
    <p class="measure lh-copy center">
      Sign up for the forum 
      <a href="http://forum.caregiverconnect.org">here</a>
      
    </p>
  </article>

  <div class="forum-sign-up container ">


  <!-- container end -->
  </div> 


<!-- <ResourcesList/> -->

</section>
</template>

<script>

export default {
  name: 'Forum',
  components: {
    
  },
  data: function() {
    return {
      isGeneralOpen: false,
      isWomenOpen: false,
      isEducationOpen: false,
      isPersonalOpen: false,
      isFacebookOpen: false,
      isSpanishOpen: false,
      isBooksOpen: false,
    }
  }

}
</script>

<style scoped>

</style>

