<template>

<article class="vh-50 dt w-100 bg-light-blue">
  <div class=" dtc v-mid tc white ph3 ph4-l">
    <h1 class="f6 f2-m f-subheadline-l fw6 tc">Our Survey</h1>
    <TypeformButton />
  </div>
</article>


</template>

<script>
import TypeformButton from './TypeformButton'


export default {
  name: 'Form',
  components: {
    TypeformButton
  },
  props: {
    title: String
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
